* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #111827;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: cyan;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 25px;
}

button {
  padding: 12px 25px;
  border: none;
  background: cyan;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.about,
.skills,
.contact {
  padding: 80px;
  text-align: center;
}

.about h2,
.skills h2,
.contact h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 30px;
  width: 250px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #334155;
}

footer {
  background: #111827;
  text-align: center;
  padding: 20px;
}